@import 'colors';
@import '~bulma/bulma';

// TODO: import Lato and Charter fonts

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Lato', $family-sans-serif;
  background: $light;
}

.title {
  &.is-5 {
    margin-bottom: 1rem;
  }

  font-family: 'Charter', 'Linux Libertine', 'Georgia', 'Times', serif;
}

.builder-box {
  padding: 10px;
  border: 1px solid darken($light, 10%);
  background: $white;
}
